<div class="container">
  <!-- <span class="green-color pre">01.</span> -->
  <div class="row">
    <div class="col-md-6 desc">
      <h1 class="numbered-section-header">
        About Me
      </h1>
      <p>
        The core abilities for trainees in our program are listed below. They are designed to be the overarching goals
        for everything they do. Each of them is specified below and we believe that they are good goals for all
        developers to aspire to and flesh out.

      </p>
      <h3>My Skillset</h3>

      <div class="skills d-flex">
        <p>Javascript (ES6)</p>
        <p>Typescript</p>
        <p>Nodejs</p>
        <p>Angular</p>
        <p>Wordpress</p>
        <p>React</p>
      </div>

    </div>
    <div class="col-md-6">

    </div>
  </div>
</div>
