<div id="portfolio-section" class="portfolio">
  <h1 class="numbered-section-header">
    Portfolio
  </h1>

  <div class="projects">
    <app-projectcard>

    </app-projectcard>

    <app-projectcard [reverse]="true">

    </app-projectcard>
  </div>
  <div class="other-project ">
    <h1 class="numbered-section-header mb-5">
      Other Noteworthy Projects
    </h1>
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-4">
          <app-portfoliocard>

          </app-portfoliocard>
        </div>
        <div class="col-md-4 mb-4">
          <app-portfoliocard>

          </app-portfoliocard>
        </div>
        <div class="col-md-4 mb-4">
          <app-portfoliocard>

          </app-portfoliocard>
        </div>
        <div class="col-md-4 mb-4">
          <app-portfoliocard>

          </app-portfoliocard>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex load-more justify-content-center mt-3">
    <a href="#" class="btn">Show More</a>
  </div>

  <div class="service-section mt-5 row">
    <div>
      <h2 class="my-3 text-center">
        I build custom applications and websites based on your business' needs, Making sure you get the most out of your
        budget
        and
        time.
      </h2>
      <h2 class="my-4 text-center">
        Below are some of the services that I provide.
      </h2>
    </div>
    <div *ngFor="let card of serviceCards" class="col-md-4 mb-4 d-flex align-items-stretch">
      <app-service-card [cardDetails]="card"> </app-service-card>
    </div>
  </div>
