<div class="portfolio">
  <h1 class="numbered-section-header">
    Portfolio
  </h1>

  <div class="projects">
    <app-projectcard>

    </app-projectcard>

    <app-projectcard [reverse]="true">

    </app-projectcard>
  </div>
  <div class="other-project ">
    <h1 class="numbered-section-header mb-5">
      Other Noteworthy Projects
    </h1>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <app-portfoliocard>

          </app-portfoliocard>
        </div>
      </div>
    </div>
  </div>
</div>
