<div class="portfolio">
  <h1 class="numbered-section-header">
    Portfolio
  </h1>

  <div class="projects" wmAnimate="fadeInUp" aos speed="fast">
    <app-projectcard>

    </app-projectcard>

    <app-projectcard [reverse]="true">

    </app-projectcard>
  </div>
  <div class="other-project " wmAnimate="fadeInUp" aos speed="fast">
    <h1 class="numbered-section-header mb-5">
      Other Noteworthy Projects
    </h1>
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-4">
          <app-portfoliocard>

          </app-portfoliocard>
        </div>
        <div class="col-md-4 mb-4">
          <app-portfoliocard>

          </app-portfoliocard>
        </div>
        <div class="col-md-4 mb-4">
          <app-portfoliocard>

          </app-portfoliocard>
        </div>
        <div class="col-md-4 mb-4">
          <app-portfoliocard>

          </app-portfoliocard>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex load-more justify-content-center mt-3">
    <a href="#" class="btn">Show More</a>
  </div>
</div>
