@import "../../styles/colors.scss";
.experience {
  .active {
    background: transparent;
    color: $fontGreen !important;
    border: none;
    border-bottom: 2px solid $fontGreen !important;
  }
  .numbered-section-header {
    &:before {
      content: "02.";
    }
  }
  .jobs {
    margin-top: 35px;
    .nav-tabs {
      border: none;
      overflow-x: scroll;
      margin-bottom: 20px;
      display: flex;
      li {
        padding-right: 1rem;
        a {
          border: none;
          padding: 0;
          color: inherit;
          white-space: nowrap;
          padding: 10px 5px;
          font-size: clamp(13px, 1.5vw, 16px);
          transition-property: background;
          transition-duration: 300ms;
          &:hover {
            background: $lightNavy;
          }
        }
      }
    }
    .content {
      margin-top: 3rem;
      h2 {
        margin-bottom: 7px;
      }
      .desc {
        p {
          &::before {
            content: "▹";
            font-size: 16px;
            padding-top: 4px;
            // display: flex;
            position: absolute;
            color: #64ffda;
            left: 0;
            line-height: 12px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .experience {
    .jobs {
      margin-top: 50px !important;
      .nav-tabs {
        flex-direction: column;
      }
      margin: 0 auto;
      li {
        margin: 10px 0;
      }
      max-width: 70%;
      .content {
        margin-top: 0;
      }
    }
  }
}
