<div  id ="experience-section" class="experience" >
  <h1 class="numbered-section-header">
    Experience
  </h1>

  <div class="jobs">
    <div class="row">
      <div class="col-md-3">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li [ngbNavItem]="1">
            <a ngbNavLink>Uncommon.org</a>
            <ng-template ngbNavContent>
              <h2>Software Engineer <a href="#" class="link link--metis green-color">@Uncommon.org</a></h2>
              <p>Sept 2019 - Present </p>
              <div class="desc">
                <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla
                  facilisi.
                  Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue
                  et
                  odio.
                </p>
                <p>
                  master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
                  keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip
                  placeat
                  salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                </p>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>Gnarus Pvt Ltd</a>
            <ng-template ngbNavContent>
              <h2>Software Engineer <a href="#" class="link link--metis green-color">@Uncommon.org</a></h2>
              <p>March 2020 - Oct 2020 </p>

              <div class="desc">
                <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla
                  facilisi.
                  Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue
                  et
                  odio.
                </p>
                <p>
                  master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
                  keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip
                  placeat
                  salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                </p>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="3">
            <a ngbNavLink>Hubspire</a>
            <ng-template ngbNavContent>
              <h2>Software Engineer <a href="#" class="link link--metis green-color">@Uncommon.org</a></h2>
              <p>Jan 2020 - Feb 2020 </p>

            <div class="desc">
              <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla
                facilisi.
                Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue
                et
                odio.
              </p>
              <p>
                master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
                keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip
                placeat
                salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
              </p>
            </div>
            </ng-template>
          </li>
        </ul>
      </div>
      <div class="col-md-9">
        <div [ngbNavOutlet]="nav" class=" content"></div>
      </div>
    </div>


  </div>

</div>
