<div class="card nz-card">
  <div class="card-body">
    <div
      class="card-head d-flex justify-content-between align-items-center pb-3"
    ></div>
    <h2 class="card-title">
      Web Applications
    </h2>
    <div class="project-desc">
      <p>
        Building a custom multisite compatible WordPress plugin to build global
        search with Algolia
      </p>
    </div>
  </div>
</div>

<!-- <nz-card class="nz-card" [nzBorderless]="true" [nzExtra]="extraTemplate" [nzTitle]="titleTemplate">
  
  </nz-card> -->

<ng-template #cardBody> </ng-template>
<ng-template #extraTemplate> </ng-template>
<ng-template #titleTemplate> </ng-template>
