<div class="card nz-card h-100">
  <div class="card-body">
    <div
      class="card-head d-flex justify-content-center align-items-center pb-3"
    >
      <fa-icon class="display-4" [icon]="cardDetails.icon"></fa-icon>
    </div>
    <h2 class="card-title text-center">{{ cardDetails.title }}</h2>
    <div class="project-desc">
      <p class="text-center">
        {{ cardDetails.description }}
      </p>
    </div>
  </div>
</div>

<!-- <nz-card class="nz-card" [nzBorderless]="true" [nzExtra]="extraTemplate" [nzTitle]="titleTemplate">
  
  </nz-card> -->

<ng-template #cardBody> </ng-template>
<ng-template #extraTemplate> </ng-template>
<ng-template #titleTemplate> </ng-template>
