@import "./../styles/colors.scss";
:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  .page-wrapper {
    // margin-top: 131px;
    margin-top: 80px;
  }
}

.header-trigger {
  height: 64px;
  padding: 20px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s, padding 0s;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 200;
  // position: fixed;
}

.app-header {
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  // height: 67px;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  a {
    &:hover {
      text-decoration: none;
    }
  }
  h4 {
    font-size: 2em;
  }
  .navigation {
    .nav {
      nav-item {
        a {
          font-size: 1em !important;
        }
      }
    }
  }
}

.hamburger {
  display: none;
  .ham-box {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 24px;
  }
  .ham-box-inner {
    position: absolute;
    top: 50%;
    right: 0;
    width: 30px;
    height: 2px;
    border-radius: 4px;
    background-color: $fontGreen;
    transition-duration: 0.22s;
    transition-property: transform;
    transition-delay: 0s;
    transform: rotate(0);
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      left: auto;
      right: 0;
      width: 30px;
      height: 2px;
      border-radius: 4px;
      background-color: $fontGreen;
      transition-timing-function: ease;
      transition-duration: 0.15s;
      transition-property: transform;
    }
    &:before {
      width: 120%;
      top: -10px;
      opacity: -10px;
      transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
    }
    &:after {
      width: 80%;
      bottom: -10px;
      transform: rotate(0);
      transition: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }
}

.ham-box-open {
  z-index: 1000;
  .ham-box-inner {
    transition-delay: 0.12s;
    transform: rotate(225deg);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    &:before {
      width: 100%;
      top: 0;
      opacity: 0;
      transition: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
    }
    &:after {
      width: 100%;
      bottom: 0;
      transform: rotate(-90deg);
      transition: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
    }
  }
}
.nav-up {
  top: -67px;
}

.drawer {
  background-color: $backgroundBlue;
}

@media screen and (max-width: 930px) {
  .app-header {
    .navigation {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 30000;
    margin-right: -15px;
    padding: 15px;
    border: 0;
    background-color: transparent;
    color: inherit;
    text-transform: none;
    transition-timing-function: linear;
    transition-duration: 0.15s;
    transition-property: opacity, filter;
  }
}
