.banner {
  height: 80vh;
  .intro {
    text-align: left;
    p {
      font-size: 20px;
    }
    h1,
    h2 {
      font-size: clamp(40px, 8vw, 80px);
      font-weight: 400;
      font-weight: bold;
    }
  }
  p {
    max-width: 500px;
    text-align: start;
    font-size: 20px;
  }
  .btn {
    display: block !important;
    border: 1.5px solid #64ffda;
    color: #64ffda;
    max-width: 200px;
    padding: 15px;
    transition-property: background;
    transition-duration: 500ms;
    &:hover {
      background-color: rgba(#64ffda, 0.18);
    }
  }
}
