/* You can add global styles to this file, and also import other style files */
// Base Colors
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap/scss/bootstrap";
@import "~assets/sf-mono/style.css";
@import "~assets/calibre-font/style.css";
@import "~assets/calibre/stylesheet.css";
@import "app/styles/colors.scss";

body,
.app-layout,
.ant-layout,
.app-header {
  background: $backgroundBlue !important;
}
body,
p,
h1,
span,
h2,
h3 {
  font-family: "Calibre";
  font-weight: normal;
  color: $blueBlack;
}
body {
  font-size: 18px;
}
a,
button {
  font-family: "SF Mono Regular";
  font-weight: normal;
  color: inherit;
}
a {
  &:hover {
    color: #64ffda;
  }
}
.green-color {
  color: $fontGreen !important;
}
.blue-black {
  color: $blueBlack;
}
.font-light {
  color: $fontColorLight;
}
.section {
  margin-top: 150px;
  margin-bottom: 150px;
}
.numbered-section-header {
  font-weight: bold;
  &::before {
    position: relative;
    content: "01.";
    color: #64ffda;
    font-weight: 400;
    font-family: "SF Mono Regular";
    font-size: clamp(20px, 8vw, 25px);
  }
  &::after {
    width: 230px;
    display: none;
    position: relative;
    content: "";
    height: 1px;
    background-color: #64ffda;
  }
}
.ant-card-head {
  border: none !important;
}

/* Importing Bootstrap SCSS file. */
