<div class="project-card " [ngClass]="reverse == true ? 'reverse' : ''"
>
  <div class="container ">
    <div class="project-img-container">
      <img src="./../../../assets/img/profile2.jpg" alt="">
      <div class="color-overlay"></div>
    </div>
    <div class="project-info">
      <span>Featured Project</span>
      <h2>OctorProfile</h2>
      <div class="desc">
        A nicer look at your GitHub profile and repository stats with data visualizations of your top languages and
        stars. Sort through your top repos by number of stars, forks, and size.
      </div>
      <ul class="technologies">
        <li>
          Next.js
        </li>
        <li>
          Node.js
        </li>
        <li>
          Github Api
        </li>
      </ul>
      <div class="links">
        <a href="#">
          <fa-icon class="git-link" [icon]="faGithub"></fa-icon>
        </a>
        <a href="#">
          <fa-icon class="ext-link" [icon]="faExternalLinkAlt"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</div>
